body {
  margin: 0;
  height: 100vh;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background: #ccc;
  transform: translateX(-100%);
  transition: all .3s;
}

.menu.menu--open {
  transform: translateX(0);
}

.menu.menu--open + #open {
  /* margin-left: 100px; */
}

#open {
  transition: all .3s;
}

